body {
  background-color: #121212;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  color: #f5a623;
  font-family: 'Courier New', monospace;
  font-size: 40px;
  margin-top: 60px; 
  margin-bottom: 60px; 
}

.wrapper {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

.container {
  width: 200px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  animation: gallery 30s linear infinite;
}

.container span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
  -webkit-box-reflect: below 2.5px
    linear-gradient(transparent, transparent, rgba(3, 3, 3, 0.2));
}

.container span img {
  position: absolute;
  width: 180px;
  height: 300px;
  border-radius: 10px;
  border: 4px ridge #f5a623;
}

@keyframes gallery {
  0% {
    transform: perspective(1200px) rotateY(0deg);
  }
  100% {
    transform: perspective(1200px) rotateY(360deg);
  }
}