* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New';
  letter-spacing: 1px;
  transition: all 0.35s linear;
}

body {
  background-color: #121212;
  color: white;
}

header {
  text-align: center;
  color: #f5a623;
  font-size: 40px;
  padding-top: 20px;
}

body img {
  margin-left: 250px;
  border-radius: 5%;
  height: 600px;
  width: 400px;
}

.music {
    margin-top: 40px;
    margin-left: 400px;
    color: #f5a623;
    font-size: 32px;
}

.music-text {
  position: absolute;
  top: 240px;
  left: 700px;
  text-align: justify;          
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;               
  font-size: 18px;              
  line-height: 1.6;            
  animation: fadeIn 1.5s ease-in-out;
  color: white;                 
}

.audio-tag {
  position: absolute;
  top: 730px;
  left: 225px;
  min-height: 40vh;
}

.player {
  width: 450px;
  background: none;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  gap: 16px;
  padding: 12px 24px;
  position: relative;
  border-radius: 64px;
}

.control,
#current {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

#playbtn {
  font-size: 18px;
  color: transparent;
  border: none;
  color: #f5a623;
  cursor: pointer;
  transition: 0.3s ease;
}

#playbtn:hover {
  -webkit-text-fill-color: #f5a623;
  transform: scale(1.2);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: relative;
  text-align: center;
  color: #fff;
}

.bar {
  --space: -4px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  position: absolute;
  left: var(--space);
  right: var(--space);
  bottom: var(--space);
  height: 4px;
  border-radius: 64px;
  z-index: 1;
}

#progress {
  display: block;
  width: var(--progress, 0%);
  background-color: #f5a623;
  transition: width 0.3s linear;
  height: 100%;
  border-radius: 64px;
}

#current {
  text-align: right;
  font-size: 12px;
  color: #ccc;
}

.video {
  margin-left: 1240px;
  margin-top: 70px;
  font-size: 32px;
  color: #f5a623;
}

.video-play {
  position: absolute;
  right: 250px;
  border-radius: 20%;
  height: 400px;
  width: 600px;
}

.video-text {
  position: absolute;
  top: 840px;
  left: 300px;
  text-align: justify;          
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;               
  font-size: 18px;              
  line-height: 1.6;            
  animation: fadeIn 1.5s ease-in-out;
  color: white;                
}

.chess-img {
  margin-top: 480px;
  height: 400px;
  width: 500px;
}

.chess-text {
  position: absolute;
  top: 1340px;
  left: 800px;
  text-align: justify;          
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;               
  font-size: 18px;              
  line-height: 1.6;            
  animation: fadeIn 1.5s ease-in-out;
  color: white;                
}

.chess {
  position: absolute;
  top: 1290px;
  left: 440px;
  font-size: 32px;
  color: #f5a623;
}

