body {
    color: white;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

header {
    padding-top: 20px;
}

main {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

footer p {
    font-family: 'Courier New';
    color: #f5a623;
    text-align: center;
    padding: 20px 0;
}

.nav-links {
    font-family: 'Courier New';
    display: flex;
    justify-content: center; 
    gap: 70px;            
    padding: 20px 0;
}

.nav-links a {
    color: #f5a623;
    text-decoration: none;
    font-size: 20px;
}

.intro {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.auto-type {
    margin-top: -100px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #f5a623;
    font-family: 'Courier New';
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.center-content {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: -50px;
}

.icons {
    display: flex;
    color: #f5a623;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.icons a {
    color: #f5a623;
    text-decoration: none;
}


